* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather Sans", sans-serif;
  color: #fff;
  background-color: #A6E3E9;
}

.loading {
  text-align: center;
  font-size: 4rem;
  color: rgb(148, 128, 14);
}
